
SampleInvoiceTracker/.vs/SampleInvoiceTracker/v15/.suo
*.lock
SampleInvoiceTracker/.vs/SampleInvoiceTracker/v15/Server/sqlite3/storage.ide
SampleInvoiceTracker/SampleInvoiceTracker/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SampleInvoiceTracker/SampleInvoiceTracker/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SampleInvoiceTracker/SampleInvoiceTracker/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SampleInvoiceTracker/SampleInvoiceTracker/obj/Debug/SampleInvoiceTracker.pdb
SampleInvoiceTracker/SampleInvoiceTracker/obj/Debug/SampleInvoiceTracker.exe
SampleInvoiceTracker/SampleInvoiceTracker/obj/Debug/SampleInvoiceTracker.csprojAssemblyReference.cache
SampleInvoiceTracker/SampleInvoiceTracker/obj/Debug/SampleInvoiceTracker.csproj.FileListAbsolute.txt
SampleInvoiceTracker/SampleInvoiceTracker/obj/Debug/SampleInvoiceTracker.csproj.CoreCompileInputs.cache
SampleInvoiceTracker/SampleInvoiceTracker/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SampleInvoiceTracker/.vs/SampleInvoiceTracker/v15/Server/sqlite3/storage.ide-wal
SampleInvoiceTracker/.vs/SampleInvoiceTracker/v15/Server/sqlite3/storage.ide-shm
*.dll
*.pdb
*.xml
*.CopyComplete
*.txt
*.json
*.cache
/SampleInvoiceTracker/CommonTracer.Unit/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/SampleInvoiceTracker/CommonTracer.Unit/obj/Debug
/SampleInvoiceTracker/CommonTracer.Unit/Properties/AssemblyInfo.cs
/SampleInvoiceTracker/SampleInvoiceTracker/bin/Debug/MyTextLog.log
